.Home-header-bac {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: rgb(187, 35, 57);
}
@media (max-width: 964px) {
  .Home-header-bac .Home-header {
    flex-direction: column;
  }
}
.Home-header-bac .Home-header .Home-header-left h5 {
  padding-bottom: 25px;
  font-family: Cera Round Pro;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  color: rgb(255, 255, 255);
  max-width: auto;
  text-align: left;
}
.Home-header-bac .Home-header .Home-header-left h1 {
  font-family: Cera Round Pro;
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
  color: rgb(255, 255, 255);
  max-width: 555px;
  text-align: left;
}
@media (max-width: 500px) {
  .Home-header-bac .Home-header .Home-header-left h1 {
    font-family: Cera Round Pro;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: rgb(255, 255, 255);
    max-width: 555px;
    text-align: center;
  }
}
.Home-header-bac .Home-header .Home-header-left p {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  max-width: 453px;
  text-align: left;
  opacity: 70%;
}
.Home-header-bac .Home-header .Home-header-left button {
  transition: 0.3s;
  padding: 8px 32px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  background: none;
  color: rgb(255, 255, 255);
}
.Home-header-bac .Home-header .Home-header-left button:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.Home-header-bac .Home-header .Home-header-right img {
  max-width: 600px;
}
@media (max-width: 1096px) {
  .Home-header-bac .Home-header .Home-header-right img {
    width: 100%;
  }
}
@media (max-width: 969px) {
  .Home-header-bac .Home-header .Home-header-right img {
    padding: 30px;
  }
}

.carusel-bac {
  background-color: rgb(248, 248, 248);
}

.carusel-p {
  padding-top: 100px;
  padding-bottom: 40px;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  color: rgb(187, 35, 57);
  max-width: auto;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
}